.game-board {
    width: 300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    background-color: #ddd;
    padding: 10px;
    border-radius: 10px;
  }
  
  .game-board p {
    grid-column: span 3;
    text-align: center;
  }
  